.logoutButton {
  background-color: #fff;
  text-align: center;
  color: #070f2b;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  transition: 0.3s;
}
