*,
::after,
::before {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #fff;
}

.error_image img {
  padding: 20px;
  width: 80%;
  height: 400px;
}

.error_text {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  min-width: 250px;
  padding: 20px;
}

.error_link {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  width: 100px;
  height: auto;
  margin-left: 20px;
}

.error_link:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
}

.error_p {
  color: #9a9898;
}
